.login-wrapper{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.4rem;
    width: 20rem

}

.login-input{
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px !important;
}
.login-btn{
    width: 50%;
    background-color: rgb(134, 215, 247);
}
.login-btn :focus{
    border: none;
    box-shadow: none;
}
